{% extends 'base.html' %} 

{% block header_text %} Your To-Do list {% endblock %}

{% block form_action %} {% url 'view_list' list.id %}{% endblock %}

{% block table %} 
    ​<table id="list_table" class="table">
        {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}

{% block share %}
    <form class="navbar-form navbar-right" method="POST" action="{% url 'send_share_email' %}">
        <span>Enter email to log in:</span>
        <input class="form-control" name="share" type="text" placeholder="ab@c.com"/>
        {% csrf_token %}
    </form>
{% endblock %}
